.container {
  position: relative;
}

@media screen and (max-width: 650px) {
  .container {
    padding-top: 10px;
  }
}

.table-title {
  gap: 10px;
}

h1 {
  padding: 4px;
}

@media screen and (max-width: 650px) {
  .table-title {
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    height: 80px;
  }
}

.container thead th {
  width: calc(100% / 8);
}

.expired {
  background-color: #f8d7da;
  color: #721c24;
}

.close-to-expire {
  background-color: #f7f1e2;
  color: #856404;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
  /* border: 1px solid red; */
  height: 32px;
}

@media screen and (max-width: 650px) {
  form {
    height: 28px;
  }
}

form input {
  width: 40%;
  max-width: 150px;
  height: 100%;
  border: none;
  color: rgb(145, 145, 145);
  border-radius: 8px;
  text-align: center;
  padding: 0 8px;
}

.filter-btn {
  width: 40px;
  border-radius: 8px;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: #fff;
}

form span {
  height: 2px;
  background-color: rgb(189, 189, 189);
}

.table-subtitle {
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 20px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 650px) {
  .table-subtitle {
    justify-content: center;
  }
}

.table-subtitle>span {
  text-transform: uppercase;
  font-size: 8px;
  padding: 4px;
}