<!-- Formulário para cadastro de produtos no catálogo -->
<ng-container *ngIf="data?.type === 'register-product'">
  <h1 mat-dialog-title class="modal-title">Cadastrar Produto</h1>
  <form [formGroup]="createProductForm" (ngSubmit)="onSubmitProduct()">
    <div mat-dialog-content class="modal-content">
      <span>
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" formControlName="name" placeholder="Digite o nome do produto"/>
        <div *ngIf="productErrorMessage">
          <p class="error-message">{{ productErrorMessage }}</p>
        </div>
      </span>
      <span>
        <label for="price">Preco Unitário (R$)</label>
        <input type="number" name="price" id="price" formControlName="price"  placeholder="Digite o preço do produto"/>
        <div *ngIf="createProductForm.get('price')?.invalid && createProductForm.get('price')?.touched">
          <p class="error-message">Informe o preço de uma unidade do produto.</p>
        </div>
      </span>
      <span>
        <label for="unit">Unidade de Medida</label>
        <select formControlName="unit">
          <option style="color: gray;" disabled>Selecione uma unidade de medida</option>
          <option *ngFor="let unit of units" [ngValue]="unit">{{unit}}</option>
          <div *ngIf="createProductForm.get('unit')?.invalid && createProductForm.get('unit')?.touched">
            <p class="error-message">Informe a unidade de medida do produto.</p>
          </div>
        </select>
      </span>
      <span>
        <label for="shelf-_ife">Validade (Dias)</label>
        <input type="number" name="shelf-life" id="shelf_life" formControlName="shelf_life"  placeholder="Digite o prazo de validade do produto"/>
        <div *ngIf="createProductForm.get('shelf_life')?.invalid && createProductForm.get('shelf_life')?.touched">
          <p class="error-message">Informe a quantidade de dias que este produto é válido após a data de fabricação.</p>
        </div>
      </span>
    </div>
    <div class="model-actions" mat-dialog-actions>
      <button class="cancel-btn" mat-button (click)="closeDialog()">Cancelar</button>
      <button type="submit" id="add-modal-btn" mat-button>Cadastrar</button>
    </div>
  </form>
</ng-container>

<!-- Formulário para editar um produtos no catálogo -->
<ng-container *ngIf="data?.type === 'edit-product'">
  <h1 mat-dialog-title class="modal-title">Editar Produto</h1>
  <form [formGroup]="editProductForm" (ngSubmit)="onEditProduct(data.product.id)">
    <div mat-dialog-content class="modal-content">
      <span>
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" disabled placeholder={{data.product.name}} />
      </span>
      <span>
        <label for="price">Preco Unitário (R$)</label>
        <input type="number" name="price" id="price" formControlName="price" placeholder={{data.product.price}}/>
      </span>
      <span>
        <label for="unit">Unidade</label>
        <select formControlName="unit">
          <option [ngValue]="null" disabled>{{data.product.unit}}</option>
          <option style="color: white;" *ngFor="let unit of units" [ngValue]="unit">{{unit}}</option>
        </select>
      </span>
      <span>
        <label for="shelf-_ife">Validade</label>
        <input type="number" name="shelf-life" id="shelf_life" formControlName="shelf_life" placeholder={{data.product.shelf_life}}/>
      </span>
    </div>
    <div class="model-actions" mat-dialog-actions>
      <button class="cancel-btn" mat-button (click)="closeDialog()">Cancelar</button>
      <button type="submit" id="edit-modal-btn" mat-button>Editar</button>
    </div>
  </form>
</ng-container>

<!-- Confirmação de Deleção -->
<ng-container *ngIf="data?.type === 'delete-product'">
  <div mat-dialog-content class="modal-content">
    <p>Tem certeza de que deseja excluir este item?</p>
  </div>

  <div class="model-actions" mat-dialog-actions>
    <button class="cancel-btn" mat-button (click)="closeDialog()">Cancelar</button>
    <button id="delete-modal-btn" mat-button (click)="onDeleteProduct(data.id)">Deletar</button>
  </div>
</ng-container>

<!-- ------------------------------ -->

<!-- Formulário para registro de produtos no estoque -->
<ng-container *ngIf="data?.type === 'register-stock'">
  <h1 mat-dialog-title class="modal-title">Registrar Produção</h1>
  <form [formGroup]="createStockForm" (ngSubmit)="onSubmitStock()">
    <div mat-dialog-content class="modal-content">
      <span>
        <label for="name">Nome</label>
        <select formControlName="name">
          <option [ngValue]="null" disabled>Selecione um produto</option>
          <option style="color: white;" *ngFor="let name of names" [ngValue]="name">{{name}}</option>
        </select>
        <div *ngIf="createStockForm.get('name')?.invalid && createStockForm.get('name')?.touched">
          <p class="error-message">Informe o nome do produto.</p>
        </div>
      </span>
      <span>
        <label for="quantity">Quantidade</label>
        <input type="number" name="quantity" id="quantity" formControlName="quantity"  placeholder="Digite a quantidade"/>
        <div *ngIf="createStockForm.get('quantity')?.invalid && createStockForm.get('quantity')?.touched">
          <p class="error-message">Informe a quantidade.</p>
        </div>
      </span>
      <span>
        <label for="production_date">Data de Fabricação</label>
        <input type="date" [(ngModel)]="defaultProductionDate"  name="production_date" id="production_date" formControlName="production_date"/>
        <p class="info-message">Se a data de fabricação não for informada, será considerada a data de hoje.</p>
        <div *ngIf="stockErrorMessage" class="errorMessage">
          <p class="error-message">{{ stockErrorMessage }}</p>
        </div>
      </span>
    </div>
    <div class="model-actions" mat-dialog-actions>
      <button class="cancel-btn" mat-button (click)="closeDialog()">Cancelar</button>
      <button type="submit" id="add-modal-btn" mat-button>Registrar</button>
    </div>
  </form>
</ng-container>

<!-- Formulário para editar um produtos no catálogo -->
<ng-container *ngIf="data?.type === 'edit-stock'">
  <h1 mat-dialog-title class="modal-title">Editar Item da Produção</h1>
  <form [formGroup]="editStockForm" (ngSubmit)="onEditStock(data.item.id)">
    <div mat-dialog-content class="modal-content">
      <span>
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" disabled placeholder={{data.item.product.name}} />
      </span>
      <span>
        <label for="price">Quantidade</label>
        <input type="number" name="quantity" id="quantity" formControlName="quantity" placeholder={{data.item.quantity}}/>
      </span>
      <span> 
        <label for="production_date">Data de Fabricação</label>
        <input type="date" [(ngModel)]="data.item.production_date"  name="production_date" id="production_date" formControlName="production_date"/>
      </span>
    </div>
    <div class="model-actions" mat-dialog-actions>
      <button class="cancel-btn" mat-button (click)="closeDialog()">Cancelar</button>
      <button type="submit" id="edit-modal-btn" mat-button>Editar</button>
    </div>
  </form>
</ng-container>

<!-- Confirmação de Deleção -->
<ng-container *ngIf="data?.type === 'delete-stock'">
  <div mat-dialog-content class="modal-content">
    <p>Tem certeza de que deseja excluir este item?</p>
  </div>

  <div class="model-actions" mat-dialog-actions>
    <button class="cancel-btn" mat-button (click)="closeDialog()">Cancelar</button>
    <button id="delete-modal-btn" mat-button (click)="onDeleteStock(data.id)">Deletar</button>
  </div>
</ng-container>