<h1 mat-dialog-title class="modal-title">
  {{ data.type === 'register' ? 'Cadastrar Item' : 'Confirmar Deleção' }}
</h1>

<div mat-dialog-content  class="modal-content">
    <span>
      <label for="name">Nome</label>
      <input type="text" name="name" id="name"/>
    </span>
    <span>
      <label for="price">Preco Unitário (R$)</label>
      <input type="number" name="price" id="price"/>
    </span>
    <span>
      <label for="unit">Unidade</label>
      <input type="text" name="unit" id="unit"/>
    </span>
    <span>
      <label for="shelf-life">Validade</label>
      <input type="number" name="shelf-life" id="shelf-life"/>
    </span>
</div>

<div class="model-actions" mat-dialog-actions>
  <button class="cancel-btn" mat-button (click)="closeDialog()">Cancelar</button>
  <ng-container *ngIf="data?.type === 'register'">
    <button class="add-btn" mat-button (click)="closeDialog()">Cadastrar</button>
  </ng-container>
</div> 