.modal-title{
  /* color: yellow; */
  font-size: 20px;
  text-align: center;
}

.modal-content{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-content > span{
  display: flex;
  flex-direction: column;
}

.model-actions{
  display: flex;
  justify-content: center;
}

.mat-mdc-button:not(:disabled){
  background-color: rgb(229, 228, 228);
  color: var(--my-black);
}

input, select{
  text-transform: uppercase;
  font-size: 12px;
  padding: 4px;
}

.add-btn .mat-dialog-actions .mat-button-base+.mat-button-base, .mat-mdc-dialog-actions .mat-mdc-button-base+.mat-mdc-button-base{
  background-color: var(--my-green-1);
  color: var(--my-white);
}

.delete-btn[_ngcontent-ng-c590421726]   .mat-dialog-actions[_ngcontent-ng-c590421726]   .mat-button-base[_ngcontent-ng-c590421726]    + .mat-button-base[_ngcontent-ng-c590421726], .mat-mdc-dialog-actions[_ngcontent-ng-c590421726]   .mat-mdc-button-base[_ngcontent-ng-c590421726]    + .mat-mdc-button-base[_ngcontent-ng-c590421726]{
  background-color: var(--my-blue-1);
  color: var(--my-white);
}

.delete-btn .mat-dialog-actions .mat-button-base+.mat-button-base, .mat-mdc-dialog-actions .mat-mdc-button-base+.mat-mdc-button-base{
  background-color: var(--my-red-1);
  color: var(--my-white);
}