<div class="container">
  <div class="table-area">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Preço Uni. (R$)</th>
          <th>Unidade</th>
          <th>Validade (Dias)</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let productData of productsData">
            <td>{{productData.name}}</td>
            <td>{{productData.price}}</td>
            <td>{{productData.unit}}</td>
            <td>{{productData.shelf_life}}</td>
            <td><button class="edit-btn" (click)="openEditDialog('edit', productData)">Editar</button></td>
            <td><button class="delete-btn" (click)="openDeleteDialog('delete', productData.id)">Deletar</button></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="new-product-area">
    <button class="add-btn" mat-button (click)="openRegisterDialog('register')">Cadastrar Produto</button>
  </div>
</div>