button{
  max-width: 300px;
}

.table-area{
  height: 90%;
}
.new-product-area{
  height: 10%;
  display: flex;
  justify-content: end;
  align-items: center;
}

thead th{
  width: calc(100% / 6);
}

