<div class="container">
  <div class="table-area">
    <div class="table-title">
      <h1>Produtos Cadastrados</h1>
      <button class="add-btn" mat-button (click)="openRegisterProductDialog()">Cadastrar Produto</button>
      <button class="mobile-btn" mat-button (click)="openRegisterProductDialog()">+</button>
    </div>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Preço Uni. (R$)</th>
            <th>Unidade</th>
            <th>Validade (Dias)</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productData of productsData">
            <td>{{productData.name}}</td>
            <td>{{productData.price}}</td>
            <td>{{productData.unit}}</td>
            <td>{{productData.shelf_life}}</td>
            <td><button class="edit-btn" (click)="openEditProductDialog(productData)">Editar</button></td>
            <td><button class="delete-btn" (click)="openDeleteProductDialog(productData.id)">Deletar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>