<div class="app-container">
  <header>
    <figure>
      <img src="../assets/logo.png" alt="logo" />
    </figure>
    <div>
      <p>Olá, Lucas!</p>
      <span>ADMIN</span>
    </div>
  </header>
  <div>
    <nav>
      <ul>
        <li (click)="navigate('/visao-geral')">Visão Geral</li>
        <li (click)="navigate('/produtos')">Produtos</li>
        <li (click)="navigate('/gerenciamento')">Gerenciamento</li>
      </ul>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer>
    <h5>Criado por Laís Macedo</h5>
    <p>© 2024 | Todos os direitos reservados.</p>
  </footer>
</div>