.app-container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (min-width: 1024px){
  .app-container {
    padding: 0 20px;
  }
}
.app-container > div {
  width: 100%;
  height: 80%;
  display: flex;
}
@media screen and (max-width: 650px){
  .app-container > div {
    display: flex;
    height: calc(100% - 50px - 40px);
    flex-direction: column;
  }
}

header {
  border-bottom: 1px solid var(--my-gray);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

@media screen and (max-width: 650px){
  header {
    height: 50px;
    padding: 0 10px;
  }
}

figure {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

figure>img {
  height: 50%;
}

header>div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 4px;

}

header>div>p {
  font-size: 20px;
  font-weight: 900;
}

@media screen and (max-width: 650px){
  header>div>p {
    font-size: max(2.5vw, 12px);
  }
}

header>div>span {
  font-size: 12px;
  font-weight: 900;
  background-color: var(--my-blue-1);
  padding: 4px 8px;
  color: var(--my-white);
  border-radius: 8px;
}
@media screen and (max-width: 650px){
  header>div>span {
    font-size: max(2.5vw, 8px);
  }
}

nav{ 
  height: 100%;
  width: 20%;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
@media screen and (max-width: 650px){
  nav{ 
    height: 40px;
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}

nav > span{
  width: 100%;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 8px;
}

@media screen and (max-width: 650px){
  nav > span{
    width: 33%;
    font-size: min(2.5vw, 12px);
  }
}

.active {
  background-color: gray;
  color: white;
  font-weight: bold;
}

nav > span:hover{
  filter: brightness(0.9);
}

main {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 650px){
  main {
    padding: 0 10px;
    height: calc(100% - 40px);
  }
}

footer {
  border-top: 1px solid var(--my-gray);
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

footer>h5 {
  font-size: 15px;
  font-variant: all-small-caps;
}

footer>h5 :hover{
  color: #4271bd;
  transition: ease-in;
}

a{
  text-decoration: none;
}

footer>p {
  font-size: 8px;
}

@media screen and (max-width: 650px){
  footer {
    height: 30px;
  }
  footer>h5 {
    font-size: 12px;
  }
  footer>p {
    font-size: 6px;
  }
}

app-dynamic-modal{
  position: absolute;
}