<div class="app-container">
  <header>
    <figure>
      <img src="../assets/logo.png" alt="logo" />
    </figure>
    <div>
      <p>Olá, Lucas!</p>
      <span>ADMIN</span>
    </div>
  </header>
  <div>
    <nav>
        <span [class.active]="activePage === 1" (click)="toChangePage('/visao-geral', 1)">Visão Geral</span>
        <span [class.active]="activePage === 2" (click)="toChangePage('/gerenciamento', 2)">Gerenciamento</span>
        <span [class.active]="activePage === 3" (click)="toChangePage('/produtos', 3)">Catálogo</span>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer>
    <h5>Criado por Laís Macedo</h5>
    <p>© 2024 | Todos os direitos reservados.</p>
  </footer>
</div>