<div class="container">
  <div class="table-area">
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Preço Uni. (R$)</th>
          <th>Unidade</th>
          <th>Validade (Dias)</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Leite</td>
          <td>8,00</td>
          <td>L</td>
          <td>4</td>
          <td><span class="edit-btn">Editar</span></td>
          <td><span class="delete-btn">Deletar</span></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="new-product-area">
    <input type="text" placeholder="Nome" />
    <input type="number" placeholder="Preço Unitário" />
    <button mat-button (click)="openRegisterDialog()">Cadastrar Item</button> 
  </div>
</div>