/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  ::-webkit-scrollbar-track {
    background: #FFF; 
  };
  ::-webkit-scrollbar{
    width: 8px;
  };
  ::-webkit-scrollbar-thumb {
    background: #EDEDED; 
    border-radius: 4px;
  };
  ::-webkit-scrollbar-thumb:hover {
    background: #D5D8DE; 
  }
  ::-webkit-scrollbar-thumb:active {
    background: #D5D8DE; 
  }
}

:root {
  --my-black: #312914;
  --my-gray: #b4b4b4;
  --my-white: #efefef;
  --my-blue-1: #529AD9;
  --my-blue-0: #529ad927;
  --my-green-1: #535922;
  --my-green-0: #53592224;
  --my-red-1: #8C281F;
  --my-red-0: #8c281f25;
}

body{
  width: 100vw;
  height: 100vh;
}

.custom-modal {
  background-color: hsl(0, 58%, 50%);
  padding: 20px;
  border-radius: 8px;
  position: absolute;
}

.custom-modal .mat-dialog-container {
  padding: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.custom-modal .mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}