/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  ::-webkit-scrollbar-track {
    background: #FFF; 
  };
  ::-webkit-scrollbar{
    width: 8px;
  };
  ::-webkit-scrollbar-thumb {
    background: #EDEDED; 
    border-radius: 4px;
  };
  ::-webkit-scrollbar-thumb:hover {
    background: #D5D8DE; 
  }
  ::-webkit-scrollbar-thumb:active {
    background: #D5D8DE; 
  }
}

:root {
  --my-black: #312914;
  --my-gray: #b4b4b4;
  --my-white: #efefef;
  --my-blue-1: #529AD9;
  --my-blue-0: #bedbf527;
  --my-green-1: #438a05;
  --my-green-0: #edf6a624;
  --my-red-1: #b41d0f;
  --my-red-0: #8c281f25;
}

body{
  width: 100vw;
  height: 100vh;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

button{
  border-radius: 4px;
  width: 50%;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
}

.edit-btn{
  background-color: var(--my-blue-1);
  color: #fff;
  border: none;
  padding: 4px 0;
}

.delete-btn{
  background-color: var(--my-red-1);
  color: var(--my-white);
  border: none;
  padding: 4px 0;
}

.add-btn{
  background-color: var(--my-green-1);
  color: var(--my-white);
  border: none;
  padding: 12px 0;
  font-size: 12px;
}

.cancel-btn{
  background-color: rgb(229, 228, 228);
  color: var(--my-black);
  border: none;
  padding: 8px 0;
}