/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  ::-webkit-scrollbar-track {
    background: #FFF; 
  };
  ::-webkit-scrollbar{
    width: 8px;
    height: 4px;
  };
  ::-webkit-scrollbar-thumb {
    background: #EDEDED; 
    border-radius: 4px;
  };
  ::-webkit-scrollbar-thumb:hover {
    background: #D5D8DE; 
  }
  ::-webkit-scrollbar-thumb:active {
    background: #D5D8DE; 
  }
}

:root {
  --my-black: #312914;
  --my-gray: #b4b4b4;
  --my-white: #efefef;
  --my-blue-1: #529AD9;
  --my-blue-0: #bedbf527;
  --my-green-1: #438a05;
  --my-green-0: #edf6a624;
  --my-red-1: #b41d0f;
  --my-red-0: #8c281f25;
}

body{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-modal button{
  max-width: 180px;
}

#mat-mdc-dialog-5 > div > div{
  padding: 20px;
}

button{
  border-radius: 4px;
  width: 50%;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
}

@media screen and (max-width: 650px){
  button{
    border-radius: 4px;
    width: 90%;
    font-size: 10px;
  }
}

.edit-btn{
  background-color: var(--my-blue-1);
  color: #fff;
  border: none;
  padding: 4px 0;
}

.delete-btn{
  background-color: var(--my-red-1);
  color: var(--my-white);
  border: none;
  padding: 4px 0;
}

.add-btn{
  background-color: var(--my-green-1);
  color: var(--my-white);
  border: none;
  padding: 12px 0;
  font-size: 12px;
}

@media screen and (max-width: 650px){
  .add-btn{
    display: none;
  }
}

.mobile-btn{
  background-color: var(--my-green-1);
  color: var(--my-white);
  border: none;
  padding: 8px 0;
  font-size: 16px;
  width: 40px;
}

@media screen and (min-width: 650px){
  .mobile-btn{
    display: none;
  }
}

.cancel-btn{
  background-color: rgb(229, 228, 228);
  color: var(--my-black);
  border: none;
  padding: 8px 0;
}

.container{
  width: 100%;
  height: 100%;
  padding-top: 40px;
  /* border: 1px solid red; */
}

@media screen and (max-width: 650px){
  .container{
    padding-top: 10px;
  }
}

.table-title{
  background-color: rgb(243, 243, 243);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  height: 60px;
}

.table{
  width: 100%;
  overflow-x: auto;
}

/* @media screen and (max-width: 650px){
  .table-title{
    flex-direction: column;
    justify-content: center;
  }
} */

.container h1{
  text-transform: uppercase;
  font-size: 16px;
  color: rgb(49, 49, 49);
}

@media screen and (max-width: 650px){
  .container h1{
    font-size: 12px;
  }
}

table{
  width: 100%;
  border-spacing: 0;
}

@media screen and (max-width: 650px){
  table{
    min-width: 720px;
    overflow-x: auto;
  }
}

thead th{ 
  border: none;
  padding: 8px 0;
  font-size: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 650px){
  thead th{
    font-size: 10px;
  }
}

tbody td{ 
  border-top: 1px solid rgb(224, 222, 222);
  padding: 16px 0;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 650px){
  tbody td{ 
    padding: 10px 0;
    font-size: 12px;
  }
}


